/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
p {
  margin: 0;
}

.container {
  column-count: 3;
  max-width: 1700px;
  margin: 0 auto;
  gap: 0.6rem;
  overflow: hidden;
  padding: 0 2rem; 
  min-width: 400px;
}

img {
  border-radius: 0.2rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0.6rem;

}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.header{
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  padding-bottom: 2rem;

}

.dropdown-toggle {
  position: relative;
  color: black;
  letter-spacing: .1em;
  border-radius: .15em;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 4em;
  cursor: pointer;
  
}

.nav-links {
  display: flex;
  gap: 20px;
}

.dropdown-content {
  display: block;
  position: absolute;
  margin-left: 4em;
  background-color: rgba(0, 0, 0, 0.075);
  padding: .5em;
  border: 1px solid grey;
  min-width: 200px;
}

.dropdown-content p {
  color: black;
}

.header-img {
  padding-top: 1em;
  width: 100px;

}

a {
  text-decoration: none;
  color: black;
  font-size: 1.rem;
  margin-left: 4em;
  letter-spacing: .1em;
}

a:hover {
  border-bottom: 2px solid #DB4A2B;
}

button {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.312em 0.7em;
  margin-left: auto;
}


.col {
  animation: scroll 80s linear infinite; 
}


/* .col:nth-child(even) {
  animation-direction: reverse; /* Alternate scroll direction */


@media (max-width: 1024px) {
  .container {
    column-count: 2
  }
  a, .dropdown-toggle, .dropdown-content {
    margin-left: 2em;
  }
}

@media (max-width: 768px) {
  .container {
    column-count: 1
  }
}

@media (max-width: 611px) {
  .nav-links {
    flex-direction: column;
    padding-top: 0em;
    gap: 0px;
    font-size: .95rem;

  }
  a, .dropdown-toggle, .dropdown-content {
    margin-left: 1em;
    font-size: .95rem;
  }
  .dropdown-content{
    padding: 5px;
  }

}

